@font-face {
  font-family: 'orange';
  src: url(../fonts/Klak-Orange.woff2) format('truetype');
}

:root {
  --firefly-color: #f9b042;
}

.container {
    background: #191919;
}

.layers .layer:nth-child(1) {
    width: 465px;
    height: 465px;
    background: #ffc46b;
    border: 37px solid bisque;
    border-radius: 50% 35% 40% 37%;
    animation: spin 10s linear infinite;
}

.layers .layer:nth-child(2) {
    width: 465px;
    height: 465px;
    background: #ffc46b;
    border-radius: 40% 35% 50% 30%;
    animation: spin 5s linear infinite;
}

.layers .layer:nth-child(3) {
    width: 465px;
    height: 465px;
    border-radius: 50%;
    background: #f9b042;
}

.time {
    font-size: 120px;
    font-family: "orange", cursive;
    color: #ffffff;
}

@import url("firefly.css");

.fireflys {
    animation: spin 120s linear infinite;
}